.git
.github
.cursor
node_modules
submodules/v86-runner/node_modules
dist
*.img
*.v86b
*.v86state
alpine-bios-*
shell-1-*
.deploy*
.tmp_*
*.log
submodules/ctfd
submodules/vm-image
challenges
.gen_work
plan_*.md
TODO_comments.md
